* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    margin: 0;
}

.bodyIndex {
 text-align: center;
 background-color: lightgoldenrodyellow;
}


.mainIndex #indexPhoto {
  box-shadow: 5px 5px 3px blue;
}

.furtherHome {
 text-align: center;
 margin: 20px 0;
 width: 100%;
 padding-top: 5px;
}

.linkedInPic {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.linkedInPic #LinkedIn {
  max-width: 100%;
  height: auto;
}

.furtherHome #LinkedIn:hover { 
  box-shadow: 5px 5px 5px 5px seagreen;
}

.mainIndex {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100vh;
  padding: 0 20px;
  margin-top: 35px;
}

.homeImages {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
}

.homeImageContainer{
  text-align: center;
  flex: 1;
  margin: 0 10px;
}

#barclaysLogo, #indexPhoto, #uniOfLiv {
  max-width: 100%;
  height: auto;
}

.furtherHome {
  text-align: center;
  margin: 20px 0;
}

h1 {
  text-align: center;
  font-family: montserrat;
  font-size: 3em; 
  margin: 3px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
  text-wrap: balance;
}

img {
  max-width: 100%;
}

nav a {
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

/* Can be used to style the active navigation link. */
[aria-current="page"] {
  text-decoration: underline;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center; 
  padding-right: 20px; 
  padding-left: 20px; 
  margin: 20px;
  font-size: 90%;
}
  nav ul li {
  margin-right: 20px;
  }

nav ul li:last-child {
  margin-right: 0; 
}

nav ul li a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

nav ul li a:hover {
  color: #007bff;
} 

footer {
  margin: 0;
}

footer #copyright {
  margin-top: 0;
  margin-bottom: 1em;
}